@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
  background: var(--Light-Yellow, #faf7d6);
  font-family: 'Poppins', sans-serif;
 }
/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer */
body {
  -ms-overflow-style: none;
}
html {
  scroll-behavior: smooth;
}
.glass-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
